.navbar{
    background-color: aqua;
 }
 .section-1{
     background-color: burlywood;
     padding: 100px, 20px;
 }
 .section-1{
     font-size: 50px;
     color: cornflowerblue;
     text-align: center;
 }